# contains files to ignore for this directory and all subdirectories
Build/*
Library/*
Temp/*
WorldData/*
*.sln
.vs/*
obj/*
*.csproj
SyncBowhead2.bat
Assets/ThirdParty/UBER/02_UBER_ContentsExamples.unitypackage.meta
Assets/ThirdParty/UBER/02_UBER_ContentsExamples.unitypackage
